/vendor
/node_modules
/public/storage
/public/uploads/driving_license/*
/public/uploads/lab_reports/*
/public/uploads/patient_documents/*
/storage/*
/nbproject
Homestead.yaml
Homestead.json
.env
 /nbproject
 /1_RESOURCES
/public/documents/upload_products/*
/storage
