/* Add here all your CSS customizations */
.document_link { float:left; padding-right:10px; }
.mandatory:after{ content:'*'; color:red; padding-left:5px; }
.deleteBtn { color:#fff !important; }

/* suresh */
.cancl-btn {
    float: right;
}

.mfp-close { color: #000 !important; }

.page-header a.sidebar-right-toggle i {
    display: none;
}

.panel-action-dismiss {
    display: none;
}
