/* Add here all your CSS customizations */
.document_link { float:left; padding-right:10px; }
.mandatory:after{ content:'*'; color:red; padding-left:5px; }
.deleteBtn { color:#fff !important; }

/* CSS for the Header section */
.cancl-btn {
    float: right;
}
.mfp-close { color: #000 !important; }

.page-header a.sidebar-right-toggle i {
    display: none;
}
.panel-action-dismiss {
    display: none;
}
/*  CSS for the Patient medical record form wizard */
.toggle-content .inputRow { padding-bottom: 15px; } 
.toggle-content .inputRow label { color: #777; } 
.inputRow .toggle-radio-custom { padding-top: 6px; }
.inputRow .toggle-radio-custom .radio-custom { padding-right: 35px; }
.inputRow .toggle-radio-custom { padding-top: 6px; }
.questionRadio .toggle-radio-custom .radio-custom { margin-right: 25px; }
.medicalTitle { padding-bottom: 10px; }
/* End */
#w3-medical .control-label {   margin-bottom: 0; padding-top: 6px; text-align: left; }
.customFormRow { margin-bottom: 10px; }
#testo_treatment .checkbox-custom { margin-bottom: 15px; }
#w3-billing .control-label {   margin-bottom: 0; padding-top: 6px; text-align: left; }

.call_label { padding-top:0px !important; }
#add_marketing_call { margin-bottom: 5px;}
.followup_check { margin-top: 10px !important; }
.radio-custom .error { margin-top: 0px; }
table.solidTdTags, table.solidTdTags td{ border: 1px solid #dddddd; }
.background-gold{ background: #DAA520; }
.background-silver{ background: #C0C0C0; }
.background-bronze{ background: #cd7f32; color: #fff; }
.wizard-steps li a, html.dark .wizard-progress .wizard-steps li a {
         word-break: break-word !important; 
}
li a .badge { background: #D2312D; color: #FFF;	font-size: 10px; font-weight: normal; height: 16px; padding: 3px 5px 3px 5px; margin-left: 5px; right: -8px; top: -3px; }
td span.badge { background: #47a447; color: #FFF;	font-size: 10px; font-weight: normal; height: 16px; padding: 3px 5px 3px 5px; margin-left: 5px; right: -8px; top: -3px; }
th.countColoumn { border-left: none;}
.form-horizontal .form-group { margin-left:0px; margin-right: 0px; }
.form-bordered .form-group { padding-bottom: 0px;}

.bronze{ background:#cd7f32; }
.silver{ background:#C0C0C0;}
.gold{ background:#DAA520; }
.packages-table .table{ color:#333;}
.packages-table .table-bordered > thead > tr > th, .packages-table .table-bordered > tbody > tr > td{text-align:center; vertical-align:middle !important;}

.packages-table th:first-child{ text-align:center;}
.packages-table .table-bordered > tbody > tr > td:first-child{ text-align:left; }
.pricing-table h3.bronze {
   background-color: #cd7f32;
}
.pricing-table h3.silver {
   background-color: #C0C0C0;
}
.pricing-table h3.gold {
   background-color: #DAA520;
}
.categoryCartList .toggle-content h4, .categoryCartList .toggle-content a{text-align: center; color: #fff; text-transform: capitalize}
.addPackageToCart{cursor: pointer;}
.appt_list { margin-right: 20px; }
.addPackageToCart{cursor: pointer;}
.cartLink { float:right; font-size:50px; margin-top:-12px}
.panel-primary > .panel-heading i .badge {background-color: #F00; color: #fff; vertical-align: top; margin-left: -10px;}
a.saleAnchor:hover{ color:inherit; }

.panel-action-toggle { display: none; }
#checkoutPopup{ max-width: 400px; }
#checkoutPopup .panel .panel-heading { padding: 10px; }
#checkoutPopup .panel .errorEMI { color:red; }
.tablePad { padding-top: 20px;}
